
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#leftPaddle {
  background-color: blue;
  width: 20px; 
  height: 80px; 
  border-radius: 20px; 

  position: absolute; 
  top: 200px;
  left: 10px;
}

#rightPaddle {
  background-color: blue;
  width: 20px; 
  height: 80px; 
  border-radius: 20px; 

  position: absolute; 
  top: 200px;
  left: 410px;
}

#ball {
  background-color: orange;
  width: 60px;
  height: 60px;
  border-radius: 60px; 

  position: absolute; 
  top: 5px;
  left: 100px;
}

#playerOneScore { 
  background-color: green; 
  width: 40px; 
  height: 60px;
  border-radius: 60px; 
  
  position:absolute; 
  left: 300px; 
  top: 50px; 

}

#playerTwoScore { 
  background-color: green; 
  width: 40px; 
  height: 60px;
  border-radius: 60px; 
  position: absolute; 
  top: 50px;
  left: 100px; 

}